.wrapper {
  width: 500px;
  margin: 20px auto;
  border: 1px solid gray;
  padding: 10px;
}
.title {
  font-size: 36px;
  text-align: center;
}
.todo-add {
  display: flex;
}
.input_add {
  flex: 1;
}
.filters {
  display: flex;
}
.filters div {
  border: 1px solid gray;
  padding: 5px;
  margin: 10px 5px 10px 0;
  cursor: pointer;
}
.todo {
  display: flex;
  position: relative;
  padding: 10px;
}
.todo + .todo {
  margin-top: 10px;
}
.todo-item__state {
  margin-right: 10px;
}
.btns {
  display: flex;
  position: absolute;
  right: 0;
  cursor: pointer;
}
